* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-image {
    width: 650px;
    height: auto;
    margin-right: 15px;
}

.content-description {
    display: flex;
    flex-flow: column wrap;
}

.border-test {
    border: 5px solid black;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width {
    width: 100%;
}

.dashboard > * {
    margin-bottom: 15px;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 4.5px solid red;
}

.navbar .title {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    display: flex;
    flex-flow: row wrap;
}

.body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.body > * {
    margin-bottom: 25px;
}

.label-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.graph-container {
    background-color: rgb(255,255,255);
}

.action-container {
    display: flex;
    flex-flow: column wrap;
}
.action-container > * {
    margin-bottom: 15px;
}

.safety-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(135, 165, 215);
}

.safety-card-container > * {
    margin-bottom: 15px;
}

.safety-card {
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(211,211,211);
    border-radius: 10px;
    padding: 25.5px;
    filter: drop-shadow(0px 0px 2.5px rgb(161,161,161));
}

.safety-card .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.safety-card .content {
    display: flex;
    flex-flow: row wrap;
}
.safety-card .content > * {
    margin-right: 15px;
}

.footer {
    display: flex;
    flex-flow: column wrap;
}

.footer .information {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.footer .information > * {
    margin: 0px 10px;
}

.footer .trademark {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}